
# GitLab Runner for this Repository
# 1. Absolute path to the user home directory. Obtain with: echo $HOME
UHOME=

# 2. Numeric UID of the host user. Required to resolve the rootless Podman socket
#    at /run/user/<HOST_UID>/podman/podman.sock.
#    Obtain with: id -u
HOST_UID=
